.about {
    padding: 50px 20px;
    background-color: #607D8B;
    color: #FFFFFF;

    &__description {
        &__introduction {
            max-width: 960px;
            margin: 0 auto;
        }

        &__bars {
            display: flex;
            flex-wrap: wrap;
            border: 1px solid #BDBDBD;
            border-radius: 3px;
            padding: 12px;
            margin-top: 48px;

            &__section {
                flex: 1 0 50%;
                padding: 0 16px;
                margin-bottom: 16px;
            }
        }

        &__certifications {
            & > a {
                color: #FFFFFF;

                &:hover, &:active {
                    font-weight: 600;
                }
            }
        }
    }
}