.contact {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;

    &__text {
        & > h2 {
            margin-bottom: 30px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;

        a {
            background-color: #CFD8DC;
            color: #212121;
            text-decoration: none;
            font-size: 1.25rem;
            border: 1px solid #455A64;
            border-radius: 5px;
            padding: 12px 22px;
            margin: 0 0 4px;
            transition: padding 0.25s;

            &:hover, &:active {
                padding: 18px 22px;
                text-decoration: underline;
            }
        }
    }
}