header {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    height: 62px;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
}

span.hamburger {
    position: relative;

    &,
    &:before,
    &:after {
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: grey;
        position: absolute;
        display: block;
        content: '';
        cursor: pointer;
    }

    &:before {
        top: -10px;
    }

    &:after {
        bottom: -10px;
    }
}

.navbar {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 5px 15px;
    list-style-type: none;
    background-color: white;
    position: relative;
    top: 62px;
    box-shadow: 0 5px 8px -3px #999;

    @include respond-above(xs) {
        display: flex;
        position: initial;
        flex-direction: row;
        padding: 15px 30px;
    }

    &__link {
        flex: 0 1 auto;
        margin: 0;
        color: gray;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        padding: 3px;
        cursor: pointer;
        transition: color 0.8s, border-bottom 0.4s;

        @include respond-above(xs) {
            margin: 0 15px 0 0;
        }

        &--active, &:active, &:hover {
            color: black;
            border-bottom: 1px solid black;
        }

        &:nth-of-type(3) {
            @include respond-above(xs) {
                margin-right: auto;
            }
        }
    }

    &__icon {
        position: absolute;
        top: calc(63px / 2);
        right: calc(100px / 2);
        z-index: 4;

        @include respond-above(xs) {
            display: none;
        }
    }

    &--open {
        display: flex;
    }
}