$colors: #FF0000, #FFA500, #FFFF00, #008000, #0000FF, #800080, #A52A2A;
$repeat: 12;

.work {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    min-height: initial;
    background: #FFA500;

    &__link {
        position: relative;
        color: white;
        text-decoration: none;
        overflow: hidden;

        // Set random background color for each link
        @for $i from 1 through $repeat {
            &:nth-of-type(#{length($colors)}n + #{$i}) {
                $color: lighten(nth($colors, random(length($colors))), 30%);
                $light-color: lighten($color, 50%);

                background: repeating-linear-gradient(
                    45deg,
                    $light-color,
                    $light-color 30px,
                    $color 30px,
                    $color 40px
                );
            }
        }
        $c: &; // Set parent as a variable

        &:hover, &:active {
            #{$c}__image {
                transform: scale(1.1);
                filter: none;
            }

            #{$c}__title {
                transform: translateY(-40px);
            }
        }

        &__image {
            transition: transform 0.45s, filter 0.45s;
            filter: brightness(50%);

            & img {
                margin: 0;
            }
        }

        &__title {
            position: absolute;
            bottom: -40px;
            font-size: 0.8rem;
            background-color: rgba(0, 0, 0, 0.65);
            padding: 3px 10px;
            width: 100%;
            transition: transform 0.65s;
        }
    }
}

.single-work {
    &__container {
        padding: 20px;
    }

    &__heading {
        margin-bottom: 15px;

        & > a {
            text-decoration: none;
            color: black;

            &:hover, &:active {
                text-decoration: underline;
            }
        }
    }

    &__content {
        &__body {
            & a {
                background-color: lighten(green, 45%);
                color: black;
                display: inline-block;
                padding: 10px;
                margin-right: 10px;
                text-decoration: none;
            }
        }

        &__image {
            max-width: 400px;
        }
    }
}